@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,900');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
  font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  background-color: #fff9e0;
	line-height: 1;
		-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

main {
  color: #ea4c4c;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: .1rem;
  width: 900px;
  margin: auto;
}

.section-add {
  background-color: #a1c45a;
  padding: 1rem;
}

.input-add {
  font: inherit;
  letter-spacing: inherit;
  color: #888;
  background-color: #fff9e0;
  width: calc(800px - 4rem);
  padding: .5rem;
  border: 0;
}

.btn-add {
  font: inherit;
  letter-spacing: inherit;
  color: #888;
  background-color: #fff9e0;
  width: 100px;
  margin-left: 1rem;
  padding: .5rem;
}

.list {
  margin-top: 2rem;
}

.todo {
	position: relative;
}

.real-check {
  position: absolute;
	display: none;
	overflow: hidden;
	left: -100%;
}

.checker {
	position: relative;
	display: inline-block;
	background-color: #ea4c4c;
	width: 1.2rem;
	height: 1.2rem;
	margin-right: 1rem;
}

.real-check:checked + .checker:before {
	content: '\2713';
	font-size: 1rem;
	font-weight: 900;
	position: absolute;
	top: .2em;
	left: .2em;
	color: #e84545;
}

.real-check:checked + .checker {
	background-color: #a1c45a;
	border: 1px solid #e84545;
}

.real-check:checked ~ span {
	color: #a1c45a;
	font-weight: 400;
	text-decoration: line-through;
}

.real-check:checked ~ .trash {
	background-color: #a1c45a;
	background-size: 1.5rem;
}

.todo {
  padding: .5rem;
	cursor: default;
}

.trash {
	float: right;
	height: 2rem;
	width: 2rem;
	/*border-left: 1px solid #ea4c4c;*/
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 268.476 268.476' width='16' height='16'%3E%3Cpath d='M63.12 250.254s4 18.222 24.583 18.222h93.072c20.583 0 24.582-18.222 24.582-18.222l18.374-178.66H44.746l18.373 178.66zM170.035 98.442a8.95 8.95 0 0 1 8.949-8.949 8.95 8.95 0 0 1 8.95 8.949l-8.95 134.238a8.95 8.95 0 0 1-8.949 8.949 8.95 8.95 0 0 1-8.949-8.949l8.95-134.238zm-44.746 0a8.95 8.95 0 0 1 8.949-8.949 8.95 8.95 0 0 1 8.949 8.949V232.68a8.95 8.95 0 0 1-8.949 8.949 8.95 8.95 0 0 1-8.949-8.949v-134.238zm-35.797-8.95a8.95 8.95 0 0 1 8.949 8.949l8.95 134.238a8.95 8.95 0 0 1-8.95 8.949 8.95 8.95 0 0 1-8.949-8.949l-8.95-134.237a8.95 8.95 0 0 1 8.949-8.95zM218.36 35.81h-39.376V17.9c0-13.577-4.39-17.9-17.898-17.9H107.4C95 0 89.492 6 89.492 17.9v17.913H50.116c-7.914 0-14.32 6.007-14.32 13.43s6.405 13.43 14.32 13.43H218.36c7.914 0 14.32-6.007 14.32-13.43s-6.405-13.43-14.32-13.43zm-57.274 0H107.39l.001-17.913h53.695V35.81z' fill='%23e84545' fill-rule='evenodd'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1rem;
}

.drag {
	float: left;
	cursor: grab;
	height: 2rem;
	width: 2rem;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 4.2 4.2'%3E%3Cpath d='M1.2.23a.4.4 0 1 0 0 .8.4.4 0 1 0 0-.8zm1.8 0a.4.4 0 1 0 0 .8.4.4 0 1 0 0-.8zm-1.8 1.4a.4.4 0 0 0-.4.4.4.4 0 1 0 .8 0 .4.4 0 0 0-.4-.4zm1.8 0a.4.4 0 0 0-.4.4.4.4 0 1 0 .8 0 .4.4 0 0 0-.4-.4zm-1.8 1.4a.4.4 0 0 0-.4.4.4.4 0 1 0 .8 0 .4.4 0 0 0-.4-.4zm1.8 0a.4.4 0 0 0-.4.4.4.4 0 1 0 .8 0 .4.4 0 0 0-.4-.4z' fill='%23a1c45a'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: 50% 65%;
	background-size: 1rem;
}
.drag:active {
	cursor: grabbing;
}

.beingDragged {
	background-color: #ddd;
	display: none;
}

.placeholder-item {
	display: block;
	height: 1em;
	border: 2px dashed #ccc;
	padding: calc(.5rem - 2px);
	cursor: default;
}

/**/
